<form action="/upload" method="post" enctype="multipart/form-data">
  <p>名前：<input type="text" name="name" size="40" /></p>
  <input type="file" id="file" name="file" accept="image/png, image/jpeg" />
  <p>
    <input type="submit" value="送信" /><input type="reset" value="リセット" />
  </p>
</form>
